<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>elasticsearch</short>
  <description>Database service for kibana .</description>
  <port protocol="tcp" port="{{ PuertoServicioElasticsearch }}"/>
  <port protocol="udp" port="{{ PuertoServicioElasticsearch }}"/>
</service>
